/*所有的网站都够通用的。包括：样式重置类 和 工具类*/

/* ----------------------------- 样式重置类------------------ */
body,h1,h2,h3,h4,p,ul,li{margin:0;}
h1,h2,h3,h4{font-weight: normal;}
ul{padding:0; list-style: none;}
a{text-decoration: none;}
img{vertical-align: middle;}
em{font-style: normal;}



/* ----------------------------- 工具类------------------ */
.lf{
    float: left;
}
.rf{float: right;}
.clearfix:after{content:"";display:block;height:0;overflow:hidden;clear:both;}
.clearfix{*zoom:1}/*照顾ie兼容性 */
.mr87{margin-right:87px;}
.mb20{margin-bottom:20px;}
.mb15{margin-bottom:15px;}
.mr35{margin-right:35px;}
.pl67{padding-left: 67px;}